<% if search.to_params.present? %>
  <% content_for(:selections, search.to_params.values.join(", ")) %>
<% end %>

<h2 class="font-medium text-xl text-center p-8">
  <%= question.question %>
</h2>

<% if question.select_multiple? %>
  <%= form_with model: search, url: search_path do |form| %>
    <% search.to_params.each do |key, value| %>
      <%= form.hidden_field key, value: value %>
    <% end %>

    <div class="flex gap-4 flex-wrap justify-center">
      <%= form.collection_check_boxes :ingredients, question.answers, :to_s, :to_s, class: "peer hidden" do |builder| %>
        <div>
          <%= builder.check_box(class: "peer hidden") %>
          <%= builder.label(class: "block rounded shadow bg-orange-500 hover:bg-orange-700 px-8 py-4 text-white uppercase peer-checked:outline peer-checked:outline-offset-2 peer-checked:outline-4 peer-checked:outline-orange-600 cursor-pointer") %>
        </div>
      <% end %>
    </div>

    <%= form.submit "Search",
      class: "mt-12 mx-auto block rounded shadow bg-purple-500 hover:bg-purple-700 px-8 py-4 text-white uppercase cursor-pointer" %>
  <% end %>
<% else %>

  <div class="flex gap-4 flex-wrap justify-center">
    <% question.answers.each do |answer| %>
      <%= button_to :search,
        params: { search: search.to_params.merge(question.category => answer) },
        class: "rounded shadow bg-orange-500 hover:bg-orange-700 px-8 py-4 text-white uppercase" do %>
        <%= answer %>
      <% end %>
    <% end %>
  </div>

<% end %>
