<!DOCTYPE html>
<html>
  <head>
    <title>Cooknow</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="flex flex-col items-center min-h-screen">
      <div class="flex flex-col flex-grow max-w-screen-md">
        <h1 class="text-3xl font-medium text-center p-8 flex-grow">
          Cooknow
        </h1>

        <div class="p-8 flex-grow">
          <%= yield %>
        </div>
      </div>

      <footer class="w-full p-12 bg-gray-300">
        <% if content_for?(:selections) %>
          <p class="mx-auto max-w-screen-md text-gray-600 mb-4 text-center">
            Your selections: <%= yield(:selections) %>
          </p>
        <% end %>

        <%= button_to "Start Again", :search,
          method: :delete,
          class: "block w-80 mx-auto px-16 py-4 bg-blue-500 hover:bg-blue-700 text-white rounded shadow" %>
        </div>
      </footer>
    </main>
  </body>
</html>
